/** HEADER **/
.navbar {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}

/* Company Name */
.navbar-default .navbar-brand { 
                  color: #000000;
                  font-size: 1.5em;
                  text-transform: uppercase;
                  font-weight: bold;
                  margin top: 0;
                  margin bottom: 0;
                  line-height:.75;
                 }
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

/* Navbar Collapsable Button */
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #ffffff;
    }
/* Hide Desktop Menu */

@media (min-width: 768px) {
    .navbar-right {
        float: right !important;
        margin-right: -15px;
    }
}
}

/* Category Tiles */
 div .category-tile {
  width: 1000px;
  color: #000000;
  font-weight: bold;
  
}

